/* =================================================================== */
/* SUPER ORANGE rgb(250, 91, 15)
====================================================================== */

.line:before,
.input-area-visual .send-btn,
.btn-primary,
.user-message .message-bubble,
.single-project-card .project-media-wrapper .media-icon-overlay,
.intro-screen .rounded-animation,
.intro-screen .hello:before,
.intro-screen .hello:after {
    background-color: rgb(250, 91, 15)
}

.message-bubble.single-project-card {
    background-color: rgba(250, 91, 15);
}

.intro-screen h1 span,
.vertical-texts-container .vertical-text,
.intro-bottom-content .quote p:before,
.btn-primary.btn-secondary,
.chat-footer .primary-nav .btn-primary-nav:hover,
body.dark .chat-footer .primary-nav .btn-primary-nav:hover,
.chat-footer .primary-nav .btn-primary-nav:hover i { 
    color: rgb(250, 91, 15); 
}

.chat-footer .primary-nav .btn-primary-nav i {
    color: rgba(250, 91, 15, .7);
}

.chat-footer .primary-nav .btn-primary-nav:hover,
body.dark .chat-footer .primary-nav .btn-primary-nav:hover { 
   border-color: rgba(250, 91, 15, .7); 
}

.btn-secondary {
    border: 1px solid rgb(250, 91, 15);
}

.single-project-card {
    border: 1px solid rgba(250, 91, 15, .1);
}

.chat-avatar {
    border: 1px solid rgba(250, 91, 15, .3);
}